<div class="previous-chat">
    <div class="d-flex justify-content-between">
        <span>{{type}}</span>
        <small class="text-muted">{{formatDate date}}</small>
    </div>
    <small class="text-muted">Score: {{score}}</small>
</div>